# dependencies
node_modules

# expo / react native
.expo
.expo-shared
web-build
dist

# native builds / caches
android/.gradle
android/app/build
android/build
ios/build

# logs
*.log

# env
.env
.env.*

# supabase edge functions are not required for Android build
supabase
